.cargaexpe{
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content:space-between;
   flex-direction: row;
   background-image: linear-gradient(rgba(5, 7, 12, 0.50), rgba(5, 12, 7, 0.50)),
   url(../public/01.jpg);
   background-size:cover;
   object-fit:cover;
   background-position:center;
}
.titlecargaexp{
   text-align: center;
   width: 100%;
   margin-top: 2vw;
   margin-bottom: 2vw;
   font-size: 3vw;
   color: rgb(143, 142, 139);
}
.Formcargexp{
   display: flex!important;
   flex-wrap: wrap;
   justify-content: space-around!important;
   align-items: center;
   align-content: center;
   margin-top: 5vw;
   padding-right: 3vw!important;
   width: 80%!important;
   margin-bottom: 5vw;
   border-radius: 5px;
   border: 0.2vw outset rgb(143, 142, 139);
   opacity: 0.85;
}
.labelcargaexp{
   font-weight: 700;
   width: 100%!important;
   text-align: center;
   margin-bottom: 1vw;
   margin-left:2vw!important;
   margin-right: 1vw!important;
   background-color: rgb(36, 36, 36)!important;
   color:rgb(143, 142, 139);
   font-size: 1vw!important;
   margin-top: 1vw;
}
.inputcargaexp{

   color: rgb(36, 36, 36);
   width: 100%!important;
   margin-left:2vw!important;
   margin-right: 1vw;
   margin-bottom: 1vw;
   border-radius: 5px;
   outline-color: rgb(143, 142, 139);
   font-size: 1vw!important;
   padding:0.4vw!important;
}
.botonescarexp{
   display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: center;
   width: 100%;
}
.botoncargaexp{
   font-size: 1vw!important;
   font-weight: 700;
   margin-top: 1vw;
   margin-right: 1vw;
   margin-left: 1vw;
   margin-bottom: 1vw;
   display: flex!important;
   align-items: center;
   justify-content: center;
   background-color: rgb(10, 61, 4)!important;
   color: rgb(143, 142, 139);
   width: 20%!important;
   border: 0.2vw outset rgb(143, 142, 139)!important;
   border-radius: 5px;
   cursor: pointer;
   padding:0.2vw!important;
}
.botoncargaexp:hover{
   opacity:0.8;
   color: white;
   background-color: transparent;
}
.btncancexp{
   font-size: 1vw!important;
   font-weight: 700;
   margin-top: 1vw;
   margin-bottom: 1vw;
   background-color: rgb(111, 8, 10)!important;
   color: rgb(143, 142, 139);
   width: 15%!important;
   border: 0.2vw outset rgb(143, 142, 139)!important;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   padding:0.2vw!important;
   text-align: center;
   text-decoration: none;
}
.btncancexp:hover{
   opacity:0.8;
   color: white;
   background-color: transparent;
}