.esp{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(5, 7, 12, 0.50), rgba(5, 12, 7, 0.50)),
    url(../public/01.jpg);
    background-size: cover;
    object-fit:cover;
    background-position: center;
}
.cardbody{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height:21vw!important;
    align-items: center;
    text-align: center;
    margin-bottom: 1vw;
    margin-left:1vw;
    border: 0.2vw outset rgb(143, 142, 139)!important;    
    box-shadow: 5px 5px 5px rgb(143, 142, 139);
    color:rgb(143, 142, 139)!important;
    background-color: black!important;
    opacity: 0.7;
}
.titlees{
    font-size: 3vw!important;
    font-weight: 800;
    color: rgb(143, 142, 139);
    text-align: center;
    margin-top: 3vw!important;
    margin-bottom: 5vw!important;
}
.titlecard{
    font-size: 1.5vw!important;
    font-weight: 700;
    color: rgb(143, 142, 139);
    text-align: center;
    margin-top:2vw!important;
    margin-bottom:2vw!important;    
}
.listado{
    font-size: 1vw!important;
    margin-left: 1vw!important;
}
.cardlink1{
    font-weight: 600;   
    text-decoration: none;
    background-color: rgb(27, 27, 27);
    color: rgb(143, 142, 139);
    font-size: 1vw;
    border-radius: 5px;
    border: 0.2vw outset rgb(143, 142, 139)!important;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
}
.cardlink1:hover{
    opacity:0.8;
    background-color: transparent;
    color: white;
}