.linea {
	background-color: rgb(175, 175, 173);
   height: 2px;
}

.nav-link a:hover {
	opacity: 0.5;
}
.social-item a {
	display: block;
	font-size: 2.5vw;
	color: #fff;
}
.social-item a:hover {
	opacity: 0.5;
}
.social-icon{
   color: #8f8e8b!important;
	margin:2vw;
	text-align: center;
}
.derechos{
	text-align: center;
   font-size: 1vw;
}
.text-deg {
	text-align: center;
	color: rgb(143, 142, 139)!important;
	font-size: 1vw;
   font-weight: 800;
}
.text-deg a:hover {
	-webkit-text-fill-color: white;
	opacity: 0.9;
}
.logofooter{
	margin-top: 2vw;
}
