.header{
    height: auto;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    background-color: rgb(143, 142, 139)!important;
    color:rgb(27,27,27);
    font-size: 1.5vw;
    margin-top:1vw;
}
.colapse{
    display: flex;
    flex-direction: column;
}
.navbar-toggler-icon{
    font-size: 2vw;
}
.navtitle{
    font-size: 1.8vw;
    color:rgb(143, 142, 139)
}
.botones{
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.estadolog{
    font-size: 1vw;
    text-align: center;
    align-items: center;
    width: 100%;
    color:rgb(143, 142, 139)

}
.btnnav {
	font-weight: 700;
	font-size: 1vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
	background-color: rgb(28, 28, 28);
    color: rgb(143, 142, 139);
    width: 15vw!important;
    border: 0.2vw outset rgb(143, 142, 139)!important;
	border-radius: 5px;
    padding-left: 1vw!important;
    padding-right: 1vw!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center;
    cursor: pointer;
	text-align: center;
	text-decoration: none;
}
.btnnav:hover{
    opacity:0.8;
	color: white;
	background-color: transparent;
}
.iconavbar{
    font-size: 2vw;
    padding-right: 1.5vw;
;
}
.botonnavlog {
	font-weight: 700;
	font-size: 1vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
	margin-right: 1vw;
	transition: var(--transition);
	background-color: rgb(10, 61, 4)!important;
    color: rgb(143, 142, 139);
    width: 100%;
    border: 0.2vw outset rgb(143, 142, 139)!important;
	border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
	padding:0.5vw;
	padding-left:1vw;
	padding-right:1vw;
    cursor: pointer;
	text-align: center;
	text-decoration: none!important;
}
.botona{
    margin-right:1vw;
}
.botonnavlog:hover{
    opacity:0.8;
    color: white;
    background-color: transparent!important;
}
.botonnavlog:disabled{
    background-color: rgb(10, 61, 4);
    opacity:0.3;
    background-color: transparent;
    text-decoration: none;
}
.botonnavreg {
	font-weight: 700;
	font-size: 1vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
	background-color: rgb(81, 74, 7);
    color: rgb(143, 142, 139);
    width: 100%!important;
    border: 0.2vw outset rgb(143, 142, 139)!important;
	border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
	padding:0.5vw;
	padding-left:1vw;
	padding-right:1vw;
    cursor: pointer;
	text-align: center;
	text-decoration: none!important;
}
.botonnavreg:hover{
    opacity:0.8;
    color: white;
    background-color: transparent;
}
.botonnavreg:disabled{
    background-color: rgb(10, 61, 4);
    opacity:0.3;
    background-color: transparent;
}

@media(min-width: 1400px){
    .allnav {
    display:flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
    .btnnav{
        width: 15%;
        height: 5vw;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        padding-top: 1vw;
        padding-bottom:1vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}