.imagennav {
	position: relative;
	height: 500px;
	background-image: linear-gradient(
			120deg,
			rgba(255, 255, 240, 0.02) 0.5%,
			rgba(0, 0, 0, 1) 85%
		),
		url(/01.jpg);
	background-size: cover;
	object-fit: cover;
	background-position: center;
}
.parrafo1 {
	position: absolute;
	top: 15px;
	right: 25px;
	font-size: 24px;
	color: rgb(207, 207, 207);
	padding-left: 5%;
}
.parrafo2 {
	position: absolute;
	top: 200px;
	right: 0;
	left:0;
	bottom: 0;
	padding-left: 15px;
	font-size: 200%;
	font-weight: 700;
	color: rgb(207, 207, 207) !important;
}
.botonturno {
	position: absolute;
	bottom: 5%;
	left: 15%;
	right: 15%;
	padding: 1vw;
	font-size: 100%;
	color: rgb(207, 207, 207) !important;
	border: 0.2vw outset rgb(143, 142, 139) !important;
	border-radius: 5px;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
}
.botonturno:hover {
	opacity: 0.8;
	background-color: transparent;
	color: rgb(255, 255, 255);
}

/* Section 2 Carrousel */
.imagencar1 {
	position: relative;
	height: 90vw;
	margin-top: 1vw;
	background-image: linear-gradient(
			60deg,
			rgba(255, 255, 240, 0.02) 0.5%,
			rgba(0, 0, 0, 1) 85%
		),
		url(/vista-superior-elementos-orientacion-profesional-jueces.jpg);
	background-size: cover;
	filter: brightness(80%);
	object-fit: fill;
	background-position: 100%;
}
.carousel-control-prev {
	width: 5vw;
}
.carousel-control-next {
	width: 5vw;
}
.carousel-indicators {
	display: none;
}
.titlecar1 {
	position: absolute;
	color: rgb(207, 207, 207) !important;
	font-size: 200% !important;
	font-weight: 700;
	top: -65vw;
	left: 2vw;
	right: 2vw;
}
.listacar1 {
	position: absolute;
	color: rgb(207, 207, 207) !important;
	font-size: 100%;
	font-weight: 700;
	top: -43vw;
}
.imagencar2 {
	position: relative;
	color: rgb(207, 207, 207);
	height: 90vw;
	margin-top: 1vw;
	filter: brightness(75%);
	background-image: linear-gradient(
			60deg,
			rgba(255, 255, 240, 0.02) 0.5%,
			rgba(0, 0, 0, 1) 85%
		),
		url('/descarga (1).jpeg');
	background-size: cover;
	object-fit: fill;
	background-position: 100%;
}
.titlecar2 {
	position: absolute;
	color: rgb(207, 207, 207) !important;
	font-size: 200% !important;
	font-weight: 700;
	top: -67vw;
}
.listacar2 {
	position: absolute;
	color: rgb(207, 207, 207) !important;
	font-size: 100%;
	font-weight: 700;
	top: -45vw;
}
.imagencar3 {
	position: relative;
	color: rgb(207, 207, 207) !important;
	height: 90vw;
	margin-top: 1vw;
	background-image: linear-gradient(
			160deg,
			rgba(255, 255, 240, 0.02) 0.5%,
			rgba(0, 0, 0, 1) 85%
		),
		url('/descarga (2).jpeg');
	background-size: cover;
	object-fit: fill;
	background-position: 100%;
}
.titlecar3 {
	position: absolute;
	color: rgb(207, 207, 207) !important;
	font-size: 200% !important;
	font-weight: 700;
	top: -70vw;
	left: 1vw;
	right: 1vw;
}
.listacar3 {
	position: absolute;
	color: rgb(207, 207, 207) !important;
	font-size: 100%;
	font-weight: 700;
	top: -55vw;
}

/* Section 4 Contactanos */
.imagensection4 {
	position: relative;
	margin-top: 1vw;
	height: 82vw;
	background-image: linear-gradient(
			120deg,
			rgba(255, 255, 240, 0.02) 0.5%,
			rgba(0, 0, 0, 1) 85%
		),
		url(/414635-PD6SLS-602-1a.jpg);
	background-size: cover;
	background-position: center;
	object-fit: cover;
	background-position: center;
	
}
.titlecontac {
	position: absolute;
	font-size: 200% !important;
	color: rgb(207, 207, 207);
	font-weight: 700;
	top: 5vw;
	left: 20vw;
	right: 20vw;
}
.conttel {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	top: 25%;
	left: 15%;
	right: 15%;
	font-size: 100%;
}
.contmail {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	top: 37%;
	left: 15%;
	right: 15%;
	font-size: 100%;
}
.contdir {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	top: 50%;
	left: 5%;
	right: 5%;
	font-size: 100%;
}
.textosec4 {
	font-size: 150%;
	color: rgb(207, 207, 207) !important;
}
.icosec4 {
	font-size: 150%;
	color: rgb(207, 207, 207) !important;
	padding-right: 1%;
}
.botonturnoabajo {
	position: absolute;
	left: 10%;
	right: 10%;
	bottom: 5%;
	padding: 1vw;
	text-decoration: none;
	font-size: 100%;
	color: rgb(207, 207, 207) !important;
	text-align: center;
	border: 0.2vw outset var(--main-color) !important;
	border-radius: 5px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
}
.botonturnoabajo:hover {
	opacity: 0.7;
	background-color: transparent;
	color: white;
}
.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 80px;
	right: 40px;
	background-color: #25d366;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px #999;
	z-index: 100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
	background-color: #fff;
}

.my-float {
	margin-top: 16px;
}
