.imagennav {
	position: relative;
	height: 50vw;
	background-image: linear-gradient(
			120deg,
			rgba(255, 255, 240, 0.02) 0.5%,
			rgba(0, 0, 0, 1) 85%
		),
		url(/01.jpg);
	background-size: cover;
	object-fit: cover;
	background-position: center;
}
.parrafo1 {
	position: absolute;
	top: 3vw;
	left: 50vw;
	font-size: 3vw;
	color: var(--main-color) !important;
}
.parrafo2 {
	position: absolute;
	top: 25vw;
	left: 8vw;
	right: 0;
	bottom: 0;
	font-size: 4vw;
	font-weight: 800;
	color: var(--main-color) !important;
}
.botonturno {
	position: absolute;
	top: 40vw;
	left: 25vw;
	right: 25vw;
	padding: 1vw;
	font-size: 2vw;
	color: var(--main-color) !important;
	border: 0.3vw outset var(--main-color) !important;
	border-radius: 5px;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
}
.botonturno:hover {
	opacity: 0.8;
	background-color: transparent;
	color: rgb(255, 255, 255);
}

/* Section 2 Carrousel */
.imagencar1 {
	position: relative;
	height: 50vw;
	margin-top:1vw;
	background-image: linear-gradient(
			60deg,
			rgba(255, 255, 240, 0.02) 0.5%,
			rgba(0, 0, 0, 1) 85%
		),
		url(/vista-superior-elementos-orientacion-profesional-jueces.jpg);
	background-size: cover;
	filter: brightness(80%);
	object-fit: fill;
	background-position: 100%;
}
.carousel-control-prev {
	width: 5vw;
}
.carousel-control-next {
	width: 5vw;
}
.carousel-indicators{
	display:none;
}
.titlecar1 {
	position:absolute;
	color: var(--main-color) !important;
	font-size: 6vw!important;
	font-weight: 700;
	top: -30vw;
	left: 10vw;
right:10vw
}
.listacar1 {
	position:absolute;
		color: var(--main-color) !important;
	font-weight:700;
	font-size: 2vw;
	top: -17vw;
	right:10vw;
	left:10vw
}
.imagencar2 {
	position: relative;
	height: 50vw;
	margin-top:1vw;
	filter: brightness(75%);
	background-image: linear-gradient(
			160deg,
			rgba(255, 255, 240, 0.02) 0.5%,
			rgba(0, 0, 0, 1) 85%
		),
		url('/descarga (1).jpeg');
	background-size: cover;
	object-fit: fill;
	background-position: 100%;
}
.titlecar2 {
	position:absolute;
	color: var(--main-color) !important;
	font-size: 6vw!important;
	font-weight: 700;
	top: -35vw;
	left: 10vw;
	right:10vw
}
.listacar2 {
	position:absolute;
	color: var(--main-color) !important;
	font-size: 2vw;
	font-weight:700;
	top: -17vw;
	right:10vw;
	left:10vw
}
.imagencar3 {
	position: relative;
	color: var(--main-color) !important;
	height: 50vw;
	margin-top:1vw;
	background-image: linear-gradient(
			160deg,
			rgba(255, 255, 240, 0.02) 0.5%,
			rgba(0, 0, 0, 1) 85%
		),
		url('/descarga (2).jpeg');
	background-size: cover;
	object-fit: fill;
	background-position: 100%;
}
.titlecar3 {
	position:absolute;
	color: var(--main-color) !important;
	font-size: 6vw!important;
	font-weight: 700;
	top: -35vw;
	left: 10vw;
right:10vw
}
.listacar3 {
	position:absolute;
	color: var(--main-color) !important;
	font-size: 2vw;
	font-weight:700;
	top: -17vw;
	right:10vw;
	left:10vw
}
/* Section 4 Contactanos */
.imagensection4 {
	position: relative;
	margin-top:1vw;
	height: 50vw;
	background-image: linear-gradient(
			120deg,
			rgba(255, 255, 240, 0.02) 0.5%,
			rgba(0, 0, 0, 1) 85%
		),
		url(/414635-PD6SLS-602-1a.jpg);
	background-size: cover;
	background-position: 100%;
	object-fit: cover;
	background-position: center;
}
.titlecontac {
	position: absolute;
	font-size: 7vw;
	color: var(--main-color);
	font-weight: 700;
	margin-top: 5vw;
   left: 27vw;
	right:27vw;

}
.textocontacto {
	position: absolute;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 12vw;
}
.conttel{
	position:absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	top:15vw;
	left: 20vw;
	right:20vw;
}
.contmail{
	position:absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	top:22vw;
	left: 20vw;
	right:20vw;
}
.contdir{
	position:absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	top:29vw;
	left: 20vw;
	right:20vw;
}
.icosec4 {
	font-size: 2vw;
	color: var(--main-color)!important;
}
.botonturnoabajo {
	position: absolute;
	left: 30vw;
	right: 30vw;
	top: 40vw;
	padding: 1vw;
	text-decoration: none;
	font-size: 2vw;
	color: var(--main-color) !important;
	text-align: center;
	border: 0.3vw outset var(--main-color) !important;
	border-radius: 5px;
	font-weight: 700;
}
.botonturnoabajo:hover {
	opacity: 0.7;
	background-color: transparent;
	color: white;
}
