:root {
	--font-family: 'Poppins', sans-serif;
}
.login {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 12, 7, 0.5)),
	url(/01.jpg);
	background-size: cover;
	object-fit: cover;
	background-position: center;
}
.titulolog {
	text-align: center;
	font-size: 200%;
	margin: 4vw;
	margin-bottom: 6vw;
	color: rgb(207, 207, 207);
	font-weight: 700;
}
.logform {
	display: flex !important;
	flex-direction: column;
	justify-content: center !important;
	align-self: center;
	align-content: center;
	align-items: center;
	width: auto;
	border-radius: 5px;
	border: 0.2vw outset rgb(143, 142, 139);
	opacity: 0.85;
	margin: 10vw;

}
.labellog {
	font-weight: 700;
	text-align: center;
	width: 100%;
	background-color: rgb(36, 36, 36) !important;
	color: rgb(207, 207, 207);
	font-size: 100%;
}
.inputlog {
	align-items: center;
	font-size: 100%;
	align-self: center;
	width: 120%;
	margin-bottom: 1vw;
	border-radius: 5px;
	outline-color: rgb(143, 142, 139);
}
/* .botoneslogin{
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.input-submitlog {
	text-align: center;
	font-size: 120% !important;
	font-weight: 600;
	margin: 4vw;
	text-decoration: none;
	background-color: rgb(10, 61, 4) !important;
	color: rgb(207, 207, 207) !important;
	width: auto;
	border-radius: 5px;
	border: 0.2vw outset rgb(143, 142, 139) !important;
	cursor: pointer;
	display: flex!important;
	justify-content: center;
	align-items: center;
	padding: 1vw !important;
}
.input-submitlog:hover {
	opacity: 0.8;
	color: white;
	background-color: transparent;
}
.input-googlelog {
	text-align: center;
	font-size: 2.5vw !important;
	font-weight: 600;
	text-decoration: none;
	background-color: rgb(9, 19, 92);
	color: rgbrgb(207, 207, 207);
	width: 120%;
	border-radius: 5px;
	border: 0.2vw outset rgb(143, 142, 139) !important;
	cursor: pointer;
}
.input-googlelog:hover {
	opacity: 0.8;
	color: white;
	background-color: transparent;
}
.parrafolog {
	font-size: 80%;
	color: rgb(207, 207, 207);
	margin-top: 2vw;
	font-weight: 700;
}
.parrafolog:hover {
	opacity: 0.8;
	color: white;
	background-color: transparent;
}
.parrafolog a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: bold;
}
.parrafolog a:hover {
	opacity: 0.8;
	background-color: transparent;
}
.swal2-html-container {
	font-family: 'Poppins', sans-serif !important;
	font-size: 100% !important;
	color: rgb(207, 207, 207) !important;
}
.swal2-styled.swal2-confirm {
	font-size: 100% !important;
}
.swal2-styled.swal2-cancel {
	font-size: 100% !important;
}
.swal2-title {
	font-size: 150% !important;
}
