.bodymovexped {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   background-image: linear-gradient(100deg, rgba(255,255, 240, 0.02), rgba(0, 0, 0, 1)85%),
   url(../public/01.jpg);
   background-size: cover;
   background-position: center;
   object-fit: cover;
   padding-bottom: 10vw;
}
.btngestexpad {
   font-weight: 700;
   font-size: 1.2vw;
   background-color: rgb(27, 27, 27);
   color: rgb(143, 142, 139);
   width: 20%;
   border: 0.2vw outset rgb(143, 142, 139)!important;
   border-radius: 5px;
   padding: 0.5vw;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   text-align: center;
   margin-top: 1vw;
   text-decoration: none;
}
.btnadexped:hover{
    opacity:0.8;
    background-color: rgb(27, 27, 27);
}
.titlemovexp{
    color: rgb(143, 142, 139);
    font-size: 2vw;
    margin-top: 2vw;
    font-weight: 700;
}
.btngestexp {
	font-weight: 700;
	font-size: 1vw;
	background-color: rgb(27, 27, 27);
    color: rgb(143, 142, 139);
    width: 15vw;
    border: 0.2vw outset rgb(143, 142, 139)!important;
	border-radius: 5px;
    padding: 0.5vw;
    cursor: pointer;
	text-align: center;
    margin-top: 1vw;
    text-decoration: none;
}
.btnusu:hover{
    opacity:0.8;
	background-color: rgb(27, 27, 27);
}
.tablamovexpte{
    font-size: 1.5vw!important;
    text-align: center;
    color: rgb(143, 142, 139)!important;
}
.datosmovexpte{
    color: rgb(143, 142, 139);
    font-size: 1.2vw;
    margin-top: 2vw;
    font-weight: 700;
}
.btnaccgestexp{
    color: rgb(143, 142, 139);
    background-color:rgb(10, 61, 4);
    padding:1vw;
    border: 0.2vw outset rgb(143, 142, 139)!important;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1vw;
}
.btnborrargestexp{
    color: rgb(143, 142, 139);
    background-color: rgb(111, 8, 10);
    border: 0.2vw outset rgb(143, 142, 139)!important;
    border-radius: 5px;
    padding:1vw;
    cursor: pointer;
    margin-right: 1vw;
}
.btnvergestexp{
    color: rgb(143, 142, 139);
    background-color: rgb(21, 100, 160);
    border: 0.2vw outset rgb(143, 142, 139)!important;
    border-radius: 5px;
    padding:1vw;
    cursor: pointer;
}